.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:10px !important}
/*
html {
background:url('../images/bull.jpg')no-repeat;
}*/



.list-group-item {
    background-color: SteelBlue;
    color: white;
}

th {
    background-color: SteelBlue;
    color: white;
}

.trade-content{
    background-image: url('../images/quants.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 .ui-autocomplete {
		max-height: 100px;
		overflow: hidden; }