.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:10px !important}
/*
html {
background:url('../images/bull.jpg')no-repeat;
}*/



.list-group-item {
    background-color: SteelBlue;
    color: white;
}

th {
    background-color: SteelBlue;
    color: white;
}

.trade-content{
    background-image: url('../images/quants.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 .ui-autocomplete {
		max-height: 100px;
		overflow: hidden; }


.portfolioclass {
background:url('../images/folder.jpg')repeat;
background-size:cover;
/*
width: 100%;
height: 100%;
background-height: auto;
background-width: 100%;
background-position: center top;
background-size:100% auto;*/
 /* background: #f2f2f2;*/
  /*padding-bottom: 40px;*/
}

.profileclass {
background:url('../images/cogs.jpg')no-repeat fixed center;
background-size:cover;
/*
width: 100%;
height: 100%;
background-height: auto;
background-width: 100%;
background-position: center top;
background-size:100% auto;*/
 /* background: #f2f2f2;*/
  /*padding-bottom: 40px;*/
}


.dashboardmiura {
background:url('../images/bull.jpg')no-repeat fixed center;
background-size:cover;
/*
width: 100%;
height: 100%;
background-height: auto;
background-width: 100%;
background-position: center top;
background-size:100% auto;*/
 /* background: #f2f2f2;*/
  /*padding-bottom: 40px;*/
}


.portfoliotable {
color: #009999;
/*
width: 100%;
height: 100%;
background-height: auto;
background-width: 100%;
background-position: center top;
background-size:100% auto;*/
 /* background: #f2f2f2;*/
  /*padding-bottom: 40px;*/
}

.portfoliotabletr {
 background-color: #333366;
 /*
 width: 100%;
 height: 100%;
 background-height: auto;
 background-width: 100%;
 background-position: center top;
 background-size:100% auto;*/
  /* background: #f2f2f2;*/
   /*padding-bottom: 40px;*/
 }

 .searchclass {
background:url('../images/search.jpg')no-repeat fixed center;
background-size:cover;
 /*
 width: 100%;
 height: 100%;
 background-height: auto;
 background-width: 100%;
 background-position: center top;
 background-size:100% auto;*/
  /* background: #f2f2f2;*/
   /*padding-bottom: 40px;*/
 }

  .chartheader {
    text:#333366;
    color:black;
  /*
  width: 100%;
  height: 100%;
  background-height: auto;
  background-width: 100%;
  background-position: center top;
  background-size:100% auto;*/
   /* background: #f2f2f2;*/
    /*padding-bottom: 40px;*/
  }

    .dashboardcolour {
      /*text:red;*/
      color:lemonchiffon;
    }

    .animation{
          text:red;
          color:black;
        }

      .contactclass{
              text:lemonchiffon;
              color:lemonchiffon;
            }



    .texttocenter{
              text-align: center;

            }